In [6]:
# Lendo a base de dados

import pandas as pd
obesity = pd.read_csv(r"C:\Users\molic\OneDrive\Documentos\Pós Tech\Tech Challenge\Fase 4\Obesity.csv", sep = ',')
obesity.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [7]:
# Verificando tipagem

obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [8]:
# Verificando características de colunas numéricas

obesity.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [9]:
# Verificando nulos por coluna

nulls = obesity.isnull().sum()
print(nulls)

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [10]:
# Verificando linhas duplicadas

print("Dup 1:", obesity.duplicated().sum())

# Removendo linhas duplicadas

obesity = obesity.drop_duplicates()

# Confirmando remoção das linhas duplicadas

print("Dup 2:", obesity.duplicated().sum())

Dup 1: 24
Dup 2: 0

In [11]:
# Verificando valores possíveis e quantidades da variável Target

obesity['Obesity'].value_counts()

Obesity
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_II    290
Normal_Weight          282
Overweight_Level_I     276
Insufficient_Weight    267
Name: count, dtype: int64

In [18]:
## Arredondar colunas numéricas decimais para número inteiro, conforme indicado no dicionário disponibilizado

# 1 - selecionando colunas numéricas

col_Int_double = ['FCVC','NCP','CH2O','FAF','TUE']

obesity[col_Int_double] = obesity[col_Int_double].round().astype(int)

# 3 - verificando resultado

obesity.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,0,21.0,1.62,64.0,0,0,2,3,Sometimes,0,2,0,0,1,no,Public_Transportation,Normal_Weight
1,0,21.0,1.52,56.0,0,0,3,3,Sometimes,1,3,1,3,0,Sometimes,Public_Transportation,Normal_Weight
2,1,23.0,1.80,77.0,0,0,2,3,Sometimes,0,2,0,2,1,Frequently,Public_Transportation,Normal_Weight
3,1,27.0,1.80,87.0,1,0,3,3,Sometimes,0,2,0,2,0,Frequently,Walking,Overweight_Level_I
4,1,22.0,1.78,89.8,1,0,2,1,Sometimes,0,2,0,0,0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
# Usamos como boas práticas transformar variáveis "Sim" e "Não" em variáveis booleanas

obesity['Gender'] = obesity['Gender'].replace({'Female': 0, 'Male': 1}).astype(int)
obesity['family_history'] = obesity['family_history'].replace({'no': 0, 'yes': 1}).astype(int)
obesity['FAVC'] = obesity['FAVC'].replace({'no': 0, 'yes': 1}).astype(int)
obesity['SMOKE'] = obesity['SMOKE'].replace({'no': 0, 'yes': 1}).astype(int)
obesity['SCC'] = obesity['SCC'].replace({'no': 0, 'yes': 1}).astype(int)

# Verificando resultado

obesity.head()

C:\Users\molic\AppData\Local\Temp\ipykernel_2832\3960049255.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  obesity['FAVC'] = obesity['FAVC'].replace({'no': 0, 'yes': 1}).astype(int)
C:\Users\molic\AppData\Local\Temp\ipykernel_2832\3960049255.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  obesity['SMOKE'] = obesity['SMOKE'].replace({'no': 0, 'yes': 1}).astype(int)
C:\Users\molic\AppData\Local\Temp\ipykernel_2832\3960049255.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  obesity['SCC'] = obesity['SCC'].replace({'no': 0, 'yes': 1}).astype(int)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,0,21.0,1.62,64.0,0,0,2,3,Sometimes,0,2,0,0,1,no,Public_Transportation,Normal_Weight
1,0,21.0,1.52,56.0,0,0,3,3,Sometimes,1,3,1,3,0,Sometimes,Public_Transportation,Normal_Weight
2,1,23.0,1.80,77.0,0,0,2,3,Sometimes,0,2,0,2,1,Frequently,Public_Transportation,Normal_Weight
3,1,27.0,1.80,87.0,1,0,3,3,Sometimes,0,2,0,2,0,Frequently,Walking,Overweight_Level_I
4,1,22.0,1.78,89.8,1,0,2,1,Sometimes,0,2,0,0,0,Sometimes,Public_Transportation,Overweight_Level_II

In [26]:
# Traduzindo cabeçalhos para português (BR)

obesity = obesity.rename(columns={'Gender': 'Gênero'})
obesity = obesity.rename(columns={'Age': 'Idade'})
obesity = obesity.rename(columns={'Height': 'Altura (m)'})
obesity = obesity.rename(columns={'Weight': 'Peso (kg)'})
obesity = obesity.rename(columns={'family_history': 'Histórico familiar'})
obesity = obesity.rename(columns={'FAVC': 'Frequência de consumo de alimentos calóricos'})
obesity = obesity.rename(columns={'FCVC': 'Frequência de consumo de vegetais'})
obesity = obesity.rename(columns={'NCP': 'Número de refeições diárias'})
obesity = obesity.rename(columns={'CAEC': 'Consumo de lanches entre refeições'})
obesity = obesity.rename(columns={'SMOKE': 'Fumante'})
obesity = obesity.rename(columns={'CH2O': 'Consumo diário de água'})
obesity = obesity.rename(columns={'SCC': 'Monitora ingestão calórica diária'})
obesity = obesity.rename(columns={'FAF': 'Frequência semanal de exercícios'})
obesity = obesity.rename(columns={'TUE': 'Tempo diário usando dispositivos eletrônicos'})
obesity = obesity.rename(columns={'CALC': 'Consumo de bebida alcoólica'})
obesity = obesity.rename(columns={'MTRANS': 'Meio de transporte habitual'})
obesity = obesity.rename(columns={'Obesity': 'Nível de obesidade'})

# Verificando resultado

obesity.head()

,Gênero,Idade,Altura (m),Peso (kg),Histórico familiar,Frequência de consumo de alimentos calóricos,Frequência de consumo de vegetais,Números de refeições diárias,Consumo de lanches entre refeições,Fumante,Consumo diário de água,Monitora ingestão calórica diária,Frequência semanal de exercícios,Tempo diário usando dispositivos eletrônicos,Consumo de bebida alcoólica,Meio de transporte habitual,Nível de obesidade
0,0,21.0,1.62,64.0,0,0,2,3,Sometimes,0,2,0,0,1,no,Public_Transportation,Normal_Weight
1,0,21.0,1.52,56.0,0,0,3,3,Sometimes,1,3,1,3,0,Sometimes,Public_Transportation,Normal_Weight
2,1,23.0,1.80,77.0,0,0,2,3,Sometimes,0,2,0,2,1,Frequently,Public_Transportation,Normal_Weight
3,1,27.0,1.80,87.0,1,0,3,3,Sometimes,0,2,0,2,0,Frequently,Walking,Overweight_Level_I
4,1,22.0,1.78,89.8,1,0,2,1,Sometimes,0,2,0,0,0,Sometimes,Public_Transportation,Overweight_Level_II

In [35]:
# Traduzindo valores em inglês das colunas qualitativas com base no dicionário

obesity['Consumo de lanches entre refeições'] = obesity['Consumo de lanches entre refeições'].replace({'Sometimes': 'pouco', 'Frequently': 'frequente', 'Always': 'sempre', 'no': 'nunca'})
obesity['Consumo de bebida alcoólica'] = obesity['Consumo de bebida alcoólica'].replace({'Sometimes': 'pouco', 'Frequently': 'frequente', 'Always': 'sempre', 'no': 'nunca'})
obesity['Meio de transporte habitual'] = obesity['Meio de transporte habitual'].replace({'Automobile': 'carro', 'Motorbike': 'moto', 'Bike': 'bicicleta', 'Public_Transportation': 'transporte público', 'Walking': 'caminhando'})
obesity['Nível de obesidade'] = obesity['Nível de obesidade'].replace({'Normal_Weight': 'peso normal', 'Overweight_Level_I': 'sobrepeso nível 1', 'Overweight_Level_II': 'sobrepeso nível 2', 'Obesity_Type_I': 'obesidade tipo 1', 'Obesity_Type_II': 'obesidade tipo 2', 'Obesity_Type_III': 'obesidade tipo 3', 'Insufficient_Weight': 'abaixo do peso'})

obesity.head()

,Gênero,Idade,Altura (m),Peso (kg),Histórico familiar,Frequência de consumo de alimentos calóricos,Frequência de consumo de vegetais,Números de refeições diárias,Consumo de lanches entre refeições,Fumante,Consumo diário de água,Monitora ingestão calórica diária,Frequência semanal de exercícios,Tempo diário usando dispositivos eletrônicos,Consumo de bebida alcoólica,Meio de transporte habitual,Nível de obesidade
0,0,21.0,1.62,64.0,0,0,2,3,às vezes,0,2,0,0,1,não,transporte público,peso normal
1,0,21.0,1.52,56.0,0,0,3,3,às vezes,1,3,1,3,0,às vezes,transporte público,peso normal
2,1,23.0,1.80,77.0,0,0,2,3,às vezes,0,2,0,2,1,frequentemente,transporte público,peso normal
3,1,27.0,1.80,87.0,1,0,3,3,às vezes,0,2,0,2,0,frequentemente,caminhando,sobrepeso nível 1
4,1,22.0,1.78,89.8,1,0,2,1,às vezes,0,2,0,0,0,às vezes,transporte público,sobrepeso nível 2

In [ ]:
## Dados devidamente tratados e traduzidos, prontos para o próximo passo: análise (quantitativa, correlação, etc).